<div class="row">
    <div class="col-md-3" *ngFor="let recipe of recipes; let i = index">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="actions pull-right">
                    <ul>
                        <li>
                            <a [routerLink]="['recipe', recipe.id, 'show']"><i class="fa fa-eye" aria-hidden="true"></i></a>
                        </li>
                        <li>
                            <a [routerLink]="['recipe', recipe.id, 'edit']"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                        </li>
                        <li>
                            <a (click)="delete(recipe.id)"><i class="fa fa-trash" aria-hidden="true"></i></a>
                        </li>
                    </ul>
                </div>
                {{ recipe.title }}
            </div>
        </div>
    </div>

    <div [hidden]="recipesLoaded" class="col-md-12">
        Loading...
    </div>

    <div *ngIf="recipesLoaded" [hidden]="recipes.length > 0" class="col-md-12">
        No recipes to dispaly
    </div>
</div>
<rb-dynamic-component [componentData]="componentData"></rb-dynamic-component>
