<div *ngIf="recipe" class="panel panel-default">
    <div class="panel-heading">{{ recipe.title }}</div>
    <div class="panel-body">
        <h3>Ingredients <button class="btn btn-primary btn-sm" (click)="addToShoppingList()">Add to shoping list</button></h3>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Amount</th>
                </tr>
            </thead>
            <tbody>

                <tr *ngFor="let recipeIngredient of recipe.ingredients">
                    <td>{{ recipeIngredient.name }}</td>
                    <td>{{ recipeIngredient.amount }}</td>
                </tr>

            </tbody>
        </table>
        <h3>How to prepare</h3>
        <p>
            {{ recipe.content }}
        </p>
    </div>
</div>

<div *ngIf="!recipe" class="col-md-12">
    Loading...
</div>
